# Configure your Project 
project_id       = "vechr-iiot-dev"
region           = "asia-southeast2"
environment      = "dev"
organization     = "vechr"
application_code = "iiot"

# Create your Network
# -- VPC
network_name = "vpc-1"
routing_mode = "REGIONAL"
# -- Subnet
subnet_private = {
  name : "private",
  ip_cidr_range : "10.5.0.0/20"
}
# as well as k8s ip_allocation_policy
pod_secondary_ip = {
  range_name : "pod-ip-range", ip_cidr_range : "10.0.0.0/14"
}
services_secondary_ip = {
  range_name : "service-ip-range", ip_cidr_range : "10.4.0.0/19"
}
# -- Router
router_name = "router-1"
# -- NAT
nat_name = "nat-1"
# -- Firewall
firewall_ssh_name     = "allow-ssh"
firewall_source_range = ["0.0.0.0/0"]
firewall_ssh = {
  protocol = "tcp"
  ports    = ["22"]
}

# Create your Kubernetes
cluster_name = "iiot-cluster"
machine_type = "e2-highcpu-8"
max_node_count = 5

google_credentials = "/Users/zulfikar4568/Downloads/vechr-iiot-dev-key.json"

# Database
user_db = "vechr"
password_db = "hai123"
sa_proxy_cloud_sql = "cloud-sql-proxy"