#################################################### Configure your Project ####################################################
project_id         = "vechr-iiot-prod"
region             = "asia-southeast2"
google_credentials = "/Users/zulfikar4568/Downloads/vechr-iiot-prod-key.json"
environment        = "prod"
organization       = "vechr"
application_code   = "iiot"

#################################################### Create your Network ####################################################
# -- VPC
network_name = "vpc-1"
routing_mode = "REGIONAL"
# -- Subnet
subnet_private = {
  name : "private",
  ip_cidr_range : "10.5.0.0/20"
}
# as well as k8s ip_allocation_policy
pod_secondary_ip = {
  range_name : "pod-ip-range", ip_cidr_range : "10.0.0.0/14"
}
services_secondary_ip = {
  range_name : "service-ip-range", ip_cidr_range : "10.4.0.0/19"
}
# -- Router
router_name = "router-1"
# -- NAT
nat_name = "nat-1"
# -- Firewall
firewall_ssh_name     = "allow-ssh"
firewall_source_range = ["0.0.0.0/0"]
firewall_ssh = {
  protocol = "tcp"
  ports    = ["22"]
}

#################################################### Create your Kubernetes ####################################################
cluster_name   = "iiot-cluster"
node_pool = {
  disk_size_gb = 20
  disk_type = "pd-standard"
  machine_type = "e2-highcpu-8"
  preemptible = false
  max_node_count = 20
}

#################################################### Database SQL ####################################################
cloud_sql_enabled  = false
password_db        = "iiot123"
sa_proxy_cloud_sql = "cloud-sql-proxy"